<!DOCTYPE html>
<html>
<head>
	<title>Home -</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/home-page.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css" />
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
</head>
<body>

<!-- Section 01 -->

<section class="H-secion1">
 <div class="section-01">
  <div class="container">

  	<div class="nav-logo">
  	  <h3>flyline</h3>	
  	</div>

  	<div class="h-headermain">
  	  <div class="row">  		
  	    <div class="col-5">
  	   	 <div class="h-dealform">
		    
		    <div class="row">
			   <div class="col-4 h-select-box">
	  	  	   	 <select>
	  	  	   	 	<option>Round Trip</option>
	  	  	   	 	<option>Return</option>
	  	  	   	 </select>
	  	  	   </div>			
	  	  	   <div class="col-4 h-select-box">
	  	  	   	 <select>
	  	  	   	 	<option>Passengers</option>
	  	  	   	 	<option>Return</option>
	  	  	   	 </select>
	  	  	   </div>			
	  	  	   <div class="col-4 h-ecenomylink">
	  	  	   	 <a href="" class="btn btn-info">Economy</a>
	  	  	   </div>			  	  	   

	  	  	  <div class="input-group input-group-sm search-dropdown col-12">
	  	  	  	 <span class="input-group-text search-form-input">Departure City</span> 
	  	  	  	 <input type="text" aria-describedby="basic-addon3" class="form-control search-input">
	  	  	  </div>	 

	  	  	  <div class="input-group input-group-sm search-dropdown col-12">
	  	  	  	 <span class="input-group-text search-form-input">Arrival City</span> 
	  	  	  	 <input type="text" aria-describedby="basic-addon3" class="form-control search-input">
	  	  	  </div>	 

	  	  	  <div class="input-group input-group-sm search-dropdown col-6">
	  	  	  	 <span class="input-group-text search-form-input">Departure Date</span> 
	  	  	  	 <input type="text" aria-describedby="basic-addon3" class="form-control search-input">
	  	  	  </div>	 

	  	  	  <div class="input-group input-group-sm search-dropdown col-6">
	  	  	  	 <span class="input-group-text search-form-input">Return Date</span> 
	  	  	  	 <input type="text" aria-describedby="basic-addon3" class="form-control search-input">
	  	  	  </div>	 

	  	  	 <div class="search-button col-12"> 	
	  	  	 	<button type="submit" class="btn btn-info">Search Our Deals</button>
	  	  	 </div>	

		    </div>		  	   	 	


  	  	 </div>
  	  </div>	

  	  <div class="col-7">
  	  	<div class="h-contentarea">
  	  		<h3>Travel Made <br/> Simple, Cheap</h3>
  	  		<p>Discount Priice Alerts <br/> 
  	  		    Exclusive Non  Public Fares <br/>	
  	  		   Direct Booking With No Redirects
  	  		</p>
  	  		<div class="h-btngroups">
  	  			<a href="#" class="btn btn-default h-blackbg">Learn More</a>
				<a href="#" class="btn btn-default">Get Started</a>
  	  		</div>
  	  	</div>	
  	  </div>

  	</div>
  	</div><!-- h-headermain -->
  </div>	
 </div>

<div class="assets-section">
  <div class="container">
  	 <div class="row justify-content-center">
  	 	<div class="col-3">
  	 		<a href="#" target="_blank">
  	 			<img src="img/tech-crunch.png" class="img_asset">
  	 		</a>
  	 	</div>
  	 	<div class="col-3">
  	 		<a href="#" target="_blank">
  	 			<img src="img/forbes.png" class="img_asset">
  	 		</a>
  	 	</div>
  	 	<div class="col-3">
  	 		<a href="#" target="_blank">
  	 			<img src="img/simple.png" class="img_asset">
  	 		</a>
  	 	</div>
  	 	<div class="col-3">
  	 		<a href="#" target="_blank">
  	 			<img src="img/smart.png" class="img_asset">
  	 		</a>
  	 	</div>  	 	  	 	
  	 </div>
  </div>	
</div>

<div class="h-flyline-bar">
 <h3>What is Flyline</h3>	
</div>

</section>


<!-- Section 2 -->
<section class="H-secion2">
 <div class="container">
   <div class="row">
   	 <div class="col-6">
   	  <div class="section2-content">
   	    <h3>Exclusive Non Public Fares</h3>	
   	    <p>When booking on flyline enjoy <br /> thousand of discounts on both <br /> international and domestic flights, with <br /> an average savings of 30%</p>
   	  </div>	
   	 </div>
   	 <div class="col-6"></div>
   </div>	
 </div>
</section>



<!-- Section 3 -->
<section class="H-secion3">
  <div class="section3-Bg">
   <div class="container">
     <div class="row">
   	 	<div class="col-6"> <img src="img/iphone-white.png" class="mobile-img"> </div>
   	 	<div class="col-6">
   	 	  <div class="section3-content">
   	 	  	<h3>Discount Price Alerts</h3>	
   	 	  	<p>Never miss a deal with discount Price <br/> Alerts, Enter your home market and the <br/> destinations out of that market you'd <br/> want us to watch and the price range<br/> you want. Then we'll send you<br/> notifications when flight prices hit your <br/> paramters</p>	
   	 	  	<a href="" class="btn btn-default">Start For Free</a>
   	 	  </div>	
   	 	</div>	
   	 </div>
   </div>	
  </div>
</section>	



<!-- Section 4 -->
<section class="H-secion4">
   <div class="container">
     <div class="row">
   	 	<div class="col-12">
   	 	  <div class="section4-content text-center">
   	 	  	<h3>Stay On Flyline With Direct Booking</h3>	
   	 	  	<p>Book all your flights directly through flyline, no redirecting to other sites and annoying time staking booking. Addtional enter your traveler information when creating an account and booking is simple and easy</p>	
   	 	  	<a href="" class="btn btn-default">Get it a Try</a>
   	 	  </div>	
   	 	</div>	
   	 </div>
   </div>	
</section>	


<!-- Section 5 -->
<section class="H-secion5">
 <div class="section5-Bg">
  <div class="text-center section5-content">
  	<h3>Ready to Start Saving</h3>	
  	<p>Enter your email to get started with a 10 day free trail</p>
  </div>

  <div class="container">	 	
	  <div class="row justify-content-center">
	  	<div class="col-4">
	  	  <div class="h-planbox text-center">
	  	  	<span class="mark-heading">10 Day Free Trail</span>
	  	  	<h3>Basic</h3>
	  	  	<strong>$4.99/mo</strong>
	  	  	<p>No Long Term Commitment</p>
	  	  	<strong>or $50 Billed Annually</strong>
	  	  	<ul class="plan-list">
	  	  	 <li>- Exclusive Private Discount Flights</li>	
	  	  	 <li>- Price Alert Notifications</li>
	  	  	 <li>- Access to flyline travel portal</li>
	  	  	</ul>
	  	  	<a href="#" class="btn btn-default">Start Saving</a>
	  	  </div>	
	  	</div>
	  </div>
  </div>

 </div>	
</section>



<footer>
    <div class="top-footer">
       <div class="container">
       	 <div class="row justify-content-center">
       	 	<div class="col-4">
            <h3>Contact</h3>
            <ul class="content">
                <li><a href="{% url "faq" %}">Help</a></li>
                <li><a href="{% url "news" %}">Press</a></li>
                <li><a href="{% url "partners" %}">Partners</a></li>
            </ul>
            <h3>Company</h3>
            <ul class="content">
            	<li><a href="{% url "about" %}">About</a></li>
                <li><a href="{% url "plans" %}">Flyline Team</a></li>
            </ul>
        </div>
        <div class="col-4">
            <h3>Popular Flight</h3>
            <ul class="content">
                <li><a href="#">Dallas-Las Vegas</a></li>
                <li><a href="#">New York - San Francisco</a></li>
                <li><a href="#">San Francisco - Seattle</a></li>
                <li><a href="#">San Francisco - Las Vegas</a></li>
                <li><a href="#">New York - Atlanta</a></li>
                <li><a href="#">Los Angeles - San Francisco</a></li>
                <li><a href="#">Dallas - Los Angeles</a></li>
                <li><a href="#">San Francisco - Austin</a></li>
            </ul>
        </div>

        <div class="col-4">
            <h3>Travel Tips</h3>
            <ul class="content">
                <li><a href="#">When to Book Last Minute</a></li>
                <li><a href="#">Top Airlines</a></li>
                <li><a href="#">Where Not to Book</a></li>
                <li><a href="#">Cheapest Cities to Fly</a></li>
                <li><a href="#">When Not to Book</a></li>
            </ul>
        </div>
       	 </div>
       </div>   
    </div>
    <div class="bottom-footer">
        <div class="sub-menus">
            <ul>
                <li><a href="#">Built in Dallas </a></li>
                <li><a href="#">Terms & Use</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </div>
    </div>
</footer>



<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>

</body>
</html>